<h1 style=text-align:center;color:brown;font:bold> Data PreProcessing </h1>

## Divided into 6 parts
    * Common Data preparation tasks
    * Data Cleaning
    * Feature Selection
    * Data Transformation
    * Feature engineering
    * Dimensionality Reduction

<h1 style=text-align:center;color:blue;font:bold> Data Cleaning </h1>

What we will look for, in this notebook:
* How to identify and remove column variables that only have a single value
* How to identify and remove column variables that have less unique values
* How to identify and remove rows that contain duplicate observations

<html> 
<br>
<hr>
<br>
</html>

Dividing into seven parts :
1) Messy Datasets
2) Identify Columns That Contain a Single Value 
3) Delete Columns That Contain a Single Value 
4) Consider Columns That Have Very Few Values 
5) Remove Columns That Have A Low Variance 
6) Identify Rows that Contain Duplicate Data
7) Delete Rows that Contain Duplicate Data

In [1]:
oilDataPath = "/Users/manideepbangaru/Documents/EDAnMLApply/Datasets/oil-spill-dataset/"

#### Messy Datasets

In [17]:
# importing the dataset
import pandas as pd
df = pd.read_csv(oilDataPath + "oil-spill.csv", header=None)

#### Identify columns that contain a single value

In [18]:
# summarize the number of unique values each column has
print(df.nunique())

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

#### Delete columns that contain a single value

In [19]:
print(df.shape)

(937, 50)

In [20]:
# get number of unique values for each column
counts = df.nunique()

In [21]:
# record columns to delete
to_del = [i for i,v in enumerate(counts) if v==1]

In [22]:
print(to_del)

# drop these cols
df.drop(to_del, axis=1, inplace=True)

print(df.shape)

[22]
(937, 49)

#### Consider columns that have very few values

In [24]:
valPercentages = (df.nunique()/len(df))*100
print(valPercentages)

0      25.400213
1      31.696905
2      98.932764
3      99.573106
4      19.103522
5      40.021345
6      87.513340
7      65.955176
8      59.871932
9       6.083244
10     61.579509
11      6.296692
12      7.790822
13     11.419424
14      5.656350
15      9.711846
16     95.304162
17     86.446105
18     18.143010
19      5.656350
20      7.257204
21      0.960512
23      9.818570
24      0.960512
25      0.853789
26      0.960512
27     32.870864
28     47.705443
29     41.835646
30     11.419424
31      4.482391
32      0.426894
33      4.802561
34     15.048026
35     11.739594
36      0.320171
37     80.896478
38      0.960512
39      0.960512
40     41.408751
41     23.479189
42     68.729989
43     69.263607
44     53.255069
45      0.213447
46    100.000000
47     18.036286
48     30.522946
49      0.213447
dtype: float64

In [25]:
filterIndexes = [i for i,v in enumerate(valPercentages) if v<=1]

In [26]:
# drop the columns
df.drop(filterIndexes, axis=1, inplace=True)

In [27]:
df.shape

(937, 39)

#### Remove columns that have a low variance

In [32]:
from sklearn.feature_selection import VarianceThreshold

# split data into data and outputs
X = df.values[:,:-1]
y = df.values[:,-1]

# defining variance threshold
transform = VarianceThreshold()

# Transform the input data
X_sel = transform.fit_transform(X)

print(X_sel.shape)

(937, 38)

In [30]:
X_train.shape

(937, 39)

In [31]:
df.values[:,:]

array([[1.000000e+00, 2.558000e+03, 1.506090e+03, ..., 3.324319e+04,
        6.574000e+01, 1.000000e+00],
       [2.000000e+00, 2.232500e+04, 7.911000e+01, ..., 5.157204e+04,
        6.573000e+01, 0.000000e+00],
       [3.000000e+00, 1.150000e+02, 1.449850e+03, ..., 3.169284e+04,
        6.581000e+01, 1.000000e+00],
       ...,
       [2.020000e+02, 1.400000e+01, 2.514000e+01, ..., 2.153050e+03,
        6.591000e+01, 0.000000e+00],
       [2.030000e+02, 1.000000e+01, 9.600000e+01, ..., 2.421430e+03,
        6.597000e+01, 0.000000e+00],
       [2.040000e+02, 1.100000e+01, 7.730000e+00, ..., 3.782680e+03,
        6.565000e+01, 0.000000e+00]])